  .statusText {
    font-size: 25px;
    font-weight: 400;
  }
  
  .onlineText {
    color: green;
  }
  
  .offlineText {
    color: red;
  }
  .imgItem {
    width: 100px;
    height: 100px;
  }
  .nameItem {
    font-size: 30px;
    margin: 10px 0;
  }